<agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
  <!-- <agm-marker *ngFor="let event of filteredEvents" [latitude]="event.latitude" 
              [longitude]="event.longtitude" [title]="event.name"
              (markerClick)="goToEvent(event)">
  </agm-marker>
  <agm-circle [latitude]="center.latitude" [longitude]="center.longtitude"
              [radius]="options.radius"
              [fillColor]="'red'"
              [circleDraggable]="true"
              [editable]="true"
              (radiusChange)="onRadiusChange($event)"
              (centerChange)="onCenterChange($event)">
  </agm-circle> -->
</agm-map>
<router-outlet></router-outlet>
